apiVersion: v1
kind: Service
metadata:
  labels:
    app: <%= ENV["NAME"] %>
  name: <%= ENV["NAME"] %>
spec:
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
      nodePort: 30007
  selector:
    app: <%= ENV["NAME"] %>

